Repository kcp-dev/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-images-1.23-build, pull-infra-images-1.24-build, post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster, post-infra-publish-images-build, pull-infra-validate-prow-jobs, pull-infra-prow-labelsync, post-infra-publish-images-1.23-build, post-infra-publish-images-1.24-build

pull-infra-images-1.23-build:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.39.2
      command:
      - images/build/hack/build-image.sh
      - go-1.23
      securityContext:
        privileged: true
      env:
      - name: DRY_RUN
        value: '1'
      resources:
  ...

pull-infra-images-1.24-build:
  decorate: true
  labels:
    preset-goproxy: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.39.2
      command:
      - images/build/hack/build-image.sh
      - go-1.24
      securityContext:
        privileged: true
      env:
      - name: DRY_RUN
        value: '1'
      resources:
  ...

post-infra-deploy-prow-cluster:
  decorate: true
  labels:
    preset-prow-kubeconfig: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.20-node-18-6
      command:
      - clusters/prow/hack/ci/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/prow/kubeconfig/kubeconfig
      - name: KUBE_CONTEXT
        value: prow

post-infra-deploy-build-cluster:
  decorate: true
  labels:
    preset-prow-kubeconfig: 'true'
  spec:
    containers:
    - image: quay.io/kubermatic/build:go-1.20-node-18-6
      command:
      - clusters/build/hack/ci/deploy.sh
      env:
      - name: KUBECONFIG
        value: /etc/prow/kubeconfig/kubeconfig
      - name: KUBE_CONTEXT
  ...

post-infra-publish-images-build:
  decorate: true
  labels:
    preset-ghcr-credentials: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.30.0
      command:
      - images/build/hack/build-image.sh
      securityContext:
        privileged: true
      resources:
        requests:
          cpu: 2
          memory: 3Gi

pull-infra-validate-prow-jobs:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20230522-3eb206f68f
      command:
      - checkconfig
      args:
      - -plugin-config=/home/prow/go/src/github.com/kcp-dev/infra/prow/plugins.yaml
      - -config-path=/home/prow/go/src/github.com/kcp-dev/infra/prow/config.yaml
  ...

pull-infra-prow-labelsync:
  labels:
    app: label-sync
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20230523-2834e18241
      command:
      - label_sync
      args:
      - --config=/home/prow/go/src/github.com/kcp-dev/infra/prow/labels.yaml
      - --orgs=kcp-dev
      - --token=/etc/oauth-token/secret
  ...

post-infra-publish-images-1.23-build:
  decorate: true
  labels:
    preset-ghcr-credentials: 'true'
  spec:
    containers:
    - image: quay.io/containers/buildah:v1.39.0
      command:
      - images/build/hack/build-image.sh
      - go-1.23
      securityContext:
        privileged: true
      resources:
        requests:
          cpu: 2
          memory: 3Gi

Several updates to the OCI prow cluster
  iac/oci-prow-worker/.terraform.lock.hcl
  iac/oci-prow-worker/README.md
  iac/oci-prow-worker/addons.tf
  iac/oci-prow-worker/cluster.tf
  iac/oci-prow-worker/network.tf
  iac/oci-prow-worker/variables.tf
Due: none

kcp-dev/api-syncagent: use same buildah version as presubmit job
  prow/jobs/kcp-dev/api-syncagent/api-syncagent-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

kcp-dev/kcp: apply v0.28.0 milestone to merges into main
  prow/plugins.yaml
Due: none

bump build image to Go 1.24.3
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

bump build image to Go 1.23.9
  images/build/go-1.23/Dockerfile
  images/build/go-1.23/env
Due: pull-infra-images-1.23-build, post-infra-publish-images-1.23-build

work around Go issue 69255, wherenrunning emulated amd64 binaries on arm64 is not working
  images/build/go-1.23/Dockerfile
  images/build/go-1.24/Dockerfile
Due: pull-infra-images-1.23-build, pull-infra-images-1.24-build, post-infra-publish-images-1.23-build, post-infra-publish-images-1.24-build

bump build image to Go 1.23.10, 1.24.4
  images/build/go-1.23/env
  images/build/go-1.24/env
Due: pull-infra-images-1.23-build, pull-infra-images-1.24-build, post-infra-publish-images-1.23-build, post-infra-publish-images-1.24-build

deploy cgroup enabler to build cluster
  clusters/build/hack/ci/deploy.sh
  clusters/build/manifests/cgroups-v2-enabler.yaml
Due: post-infra-deploy-build-cluster

Move iac folder into respective cluster folder and add athens deployment
  clusters/build/README.md
  clusters/build/hack/ci/deploy.sh
  clusters/build/hack/lib.sh
  clusters/build/hack/settings.sh
  clusters/build/manifests/athens.yaml
  clusters/build/manifests/cluster-autoscaler.yaml
  clusters/build/manifests/cluster-config.yaml
  clusters/build/manifests/machinedeployment-stable.yaml
  clusters/build/manifests/machinedeployment-worker.yaml
  clusters/build/manifests/multiarch-deps-installer.yaml
  clusters/build/opentofu/.env.example
  clusters/build/opentofu/.gitignore
  clusters/build/opentofu/.terraform.lock.hcl
  clusters/build/opentofu/Makefile
  clusters/build/opentofu/README.md
  clusters/build/opentofu/addons.tf
  clusters/build/opentofu/cluster.tf
  clusters/build/opentofu/network.tf
  clusters/build/opentofu/outputs.tf
  clusters/build/opentofu/provider.tf
  clusters/build/opentofu/terraform.tf
  clusters/build/opentofu/variables.tf
Due: post-infra-deploy-build-cluster

Add echodate to lib.sh
  clusters/build/hack/lib.sh
Due: post-infra-deploy-build-cluster

Add more helpers to lib.sh necessary for cluster deploy.sh
  clusters/build/hack/lib.sh
Due: post-infra-deploy-build-cluster

Add `actual_retry` to `lib.sh`
  clusters/build/hack/lib.sh
Due: post-infra-deploy-build-cluster

add periodic-kcp-operator-e2e-canary
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-periodics.yaml
Due: pull-infra-validate-prow-jobs

Update 1.23 build image to 1.23.11
  images/build/go-1.23/env
Due: pull-infra-images-1.23-build, post-infra-publish-images-1.23-build

Update 1.24 build image to Go 1.24.5, kubectl 1.23.7, kind 0.29.0 and Helm 3.18.4
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

bump build image to Go 1.24.6
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

add Go 1.15.0 image
  .prow.yaml
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
  images/build/go-1.25/start-docker.sh
Due: none

bump Buildah
  .prow.yaml
Due: none

add Go 1.25 postsubmit
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

bump Docker because Go images changed to Debian Trixie that only offers 28+
  images/build/go-1.24/Dockerfile
  images/build/go-1.25/Dockerfile
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

Register kcp-dev/publishing-bot with Prow
  prow/config.yaml
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
  prow/jobs/kcp-dev/publishing-bot/publishing-bot-presubmits.yaml
Due: pull-infra-validate-prow-jobs

Update build images to Go 1.24.8 and 1.25.2
  images/build/go-1.24/env
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

Run kcp-operator periodic with Go 1.24.8
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-periodics.yaml
Due: pull-infra-validate-prow-jobs

set blocker_label in Prow
  prow/config.yaml
Due: none

images/build: bump kind to 0.30.0 and docker to 28.5.x
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

Pin kindest/node image to version known to successfully transfer multi-arch images
  images/build/go-1.24/env
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

Upgrade CI Cluster
  clusters/build/opentofu/.env.example
  clusters/build/opentofu/Makefile
  clusters/build/opentofu/README.md
  clusters/build/opentofu/cluster.tf
  clusters/build/opentofu/variables.tf
Due: post-infra-deploy-build-cluster

Update build images to Go 1.24.9 / 1.25.3
  images/build/go-1.24/env
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

Run kcp-operator periodic with Go 1.24.9
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-periodics.yaml
Due: pull-infra-validate-prow-jobs

bump build image to Go 1.24.11, 1.25.5
  images/build/go-1.24/env
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

bump Prow to latest version to fix Deck UI
  clusters/prow/hack/update-prow.sh
  clusters/prow/manifests/prow/01-branchprotector.yaml
  clusters/prow/manifests/prow/01-cherrypicker.yaml
  clusters/prow/manifests/prow/01-crier.yaml
  clusters/prow/manifests/prow/01-deck-public.yaml
  clusters/prow/manifests/prow/01-deck.yaml
  clusters/prow/manifests/prow/01-gcsweb-public.yaml
  clusters/prow/manifests/prow/01-gcsweb.yaml
  clusters/prow/manifests/prow/01-ghproxy.yaml
  clusters/prow/manifests/prow/01-hook.yaml
  clusters/prow/manifests/prow/01-horologium.yaml
  clusters/prow/manifests/prow/01-needs-rebase.yaml
  clusters/prow/manifests/prow/01-prow-controller-manager.yaml
  clusters/prow/manifests/prow/01-sinker.yaml
  clusters/prow/manifests/prow/01-statusreconciler.yaml
  clusters/prow/manifests/prow/01-tide.yaml
  clusters/prow/manifests/prowjob-crd.yaml
  prow/config.yaml
  prow/jobs/kcp-dev/api-syncagent/api-syncagent-presubmits.yaml
  prow/jobs/kcp-dev/apiextensions-apiserver/apiextensions-apiserver-presubmits.yaml
  prow/jobs/kcp-dev/apimachinery/apimachinery-presubmits.yaml
  prow/jobs/kcp-dev/awesome-kcp/awesome-kcp-presubmits.yaml
  prow/jobs/kcp-dev/client-go/client-go-presubmits.yaml
  prow/jobs/kcp-dev/code-generator/code-generator-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime-example/controller-runtime-example-presubmits.yaml
  prow/jobs/kcp-dev/controller-runtime/controller-runtime-presubmits.yaml
  prow/jobs/kcp-dev/enhancements/enhancements-presubmits.yaml
  prow/jobs/kcp-dev/friends/friends-presubmits.yaml
  prow/jobs/kcp-dev/generic-controlplane/gcp-presubmits.yaml
  prow/jobs/kcp-dev/helm-charts/helm-charts-presubmits.yaml
  prow/jobs/kcp-dev/infra/infra-periodics-lifecycle.yaml
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
  prow/jobs/kcp-dev/infra/infra-presubmits.yaml
  prow/jobs/kcp-dev/kcp-dev.github.io/kcp-dev.github.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp-operator/kcp-operator-presubmits.yaml
  prow/jobs/kcp-dev/kcp.io/kcp.io-presubmits.yaml
  prow/jobs/kcp-dev/kcp/kcp-presubmits.yaml
  prow/jobs/kcp-dev/logicalcluster/logicalcluster-presubmits.yaml
  prow/jobs/kcp-dev/publishing-bot/publishing-bot-presubmits.yaml
Due: post-infra-deploy-prow-cluster, pull-infra-validate-prow-jobs

add kcp-dev/init-agent to prow
  prow/config.yaml
  prow/jobs/kcp-dev/init-agent/init-agent-postsubmits.yaml
  prow/jobs/kcp-dev/init-agent/init-agent-presubmits.yaml
  prow/plugins.yaml
Due: pull-infra-validate-prow-jobs

add kind/chore label to github
  prow/labels.yaml
Due: pull-infra-prow-labelsync

update build image to Go 1.25.6 / 1.24.12
  images/build/go-1.24/env
  images/build/go-1.25/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

add init-agent to labelsync job
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
Due: pull-infra-validate-prow-jobs

add registry mirror manifests, cleanup job for OCI cluster
  clusters/build/hack/ci/clean-up-registry-mirror.sh
  clusters/build/manifests/cluster-config.yaml
  clusters/build/manifests/registry-mirror-clean-up.yaml
  clusters/build/manifests/registry-mirror.yaml
  prow/jobs/kcp-dev/infra/infra-periodics.yaml
Due: post-infra-deploy-build-cluster, pull-infra-validate-prow-jobs

disable otel traces spamming the logs
  clusters/build/manifests/registry-mirror.yaml
Due: post-infra-deploy-build-cluster

remove unnecessary toleration
  clusters/build/manifests/registry-mirror.yaml
Due: post-infra-deploy-build-cluster

add tide restarter to work around git clone issues
  clusters/prow/hack/ci/deploy.sh
  clusters/prow/manifests/tide-restarter.yaml
Due: post-infra-deploy-prow-cluster

Path conditions:
  pull-infra-images-1.23-build: any of: ^images/build/go-1.23
  pull-infra-images-1.24-build: any of: ^images/build/go-1.24
  post-infra-deploy-prow-cluster: any of: clusters/prow/
  post-infra-deploy-build-cluster: any of: clusters/build/
  post-infra-publish-images-build: any of: ^images/build/env$
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
  post-infra-publish-images-1.23-build: any of: ^images/build/go-1.23
  post-infra-publish-images-1.24-build: any of: ^images/build/go-1.24
