Repository kcp-dev/infra: changes, and which Prow jobs are due for each by the changed paths.
All: pull-infra-images-1.23-build, pull-infra-images-1.24-build, pull-infra-images-1.25-build, post-infra-deploy-prow-cluster, post-infra-deploy-build-cluster, post-infra-publish-images-build, pull-infra-validate-prow-jobs, pull-infra-prow-labelsync, post-infra-publish-images-1.23-build, post-infra-publish-images-1.24-build, post-infra-publish-images-1.25-build

Path conditions:
  pull-infra-images-1.23-build: any of: ^images/build/go-1.23
  pull-infra-images-1.24-build: any of: ^images/build/go-1.24
  pull-infra-images-1.25-build: any of: ^images/build/go-1.25
  post-infra-deploy-prow-cluster: any of: clusters/prow/
  post-infra-deploy-build-cluster: any of: clusters/build/
  post-infra-publish-images-build: any of: ^images/build/env$
  pull-infra-validate-prow-jobs: any of: prow/jobs/
  pull-infra-prow-labelsync: any of: ^prow/labels.yaml$
  post-infra-publish-images-1.23-build: any of: ^images/build/go-1.23
  post-infra-publish-images-1.24-build: any of: ^images/build/go-1.24
  post-infra-publish-images-1.25-build: any of: ^images/build/go-1.25

Update Go 1.25 image to 1.25.7
  images/build/go-1.25/Dockerfile
  images/build/go-1.25/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

add ,direct to the GOPROXY on CI
  clusters/build/manifests/cluster-config.yaml
Due: post-infra-deploy-build-cluster

Update go 1.24 image to 1.24.13
  images/build/go-1.24/Dockerfile
  images/build/go-1.24/env
Due: pull-infra-images-1.24-build, post-infra-publish-images-1.24-build

use mirrored registry/haproxy images on CI
  clusters/build/manifests/registry-mirror.yaml
  images/README.md
Due: post-infra-deploy-build-cluster

auto-deploy the registry mirror in CI
  clusters/build/hack/ci/deploy.sh
Due: post-infra-deploy-build-cluster

add note on how to mirror images correctly
  images/README.md
Due: none

configure prow to access tide merge method labels
  prow/config.yaml
Due: none

allow tide labels to be set
  prow/plugins.yaml
Due: none

allow tide labels to be set (#159)
  prow/plugins.yaml
Due: none

use squash merge method by default for the 'smaller' repos with smaller scope
  prow/config.yaml
Due: none

use squash merge method by default for the 'smaller' repos with smaller scope (#160)
  prow/config.yaml
Due: none

bump build image to Go 1.25.9
  images/build/go-1.25/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

add protokol to make prowjobs independent of codeberg
  images/build/go-1.25/Dockerfile
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

prepare Go 1.26 prowjobs
  .prow.yaml
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

prepare Go 1.26 prowjobs (#161)
  .prow.yaml
  prow/jobs/kcp-dev/infra/infra-postsubmits.yaml
Due: pull-infra-validate-prow-jobs

add Go 1.26.2 image
  images/build/go-1.26/Dockerfile
  images/build/go-1.26/env
  images/build/go-1.26/start-docker.sh
Due: none

fix protokol download logic
  images/build/go-1.25/Dockerfile
  images/build/go-1.26/Dockerfile
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

Go 1.25.9 / 1.26.2 (#162)
  images/build/go-1.26/Dockerfile
  images/build/go-1.26/env
  images/build/go-1.26/start-docker.sh
Due: none

disable interactivity during apt when building images
  images/build/go-1.25/Dockerfile
  images/build/go-1.26/Dockerfile
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

disable interactivity during apt when building images (#163)
  images/build/go-1.25/Dockerfile
  images/build/go-1.26/Dockerfile
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

deploy Sextant to visualize kcp-dev release branches
  clusters/prow/hack/ci/deploy.sh
  clusters/prow/manifests/release-branch-reporter.yaml
  clusters/prow/manifests/sextant/config.yaml
  clusters/prow/manifests/sextant/extract-dockerfile-image-tag.sh
  clusters/prow/manifests/sextant/kcp-operator-extract-kcp.sh
Due: post-infra-deploy-prow-cluster

deploy Sextant to visualize kcp-dev release branches (#164)
  clusters/prow/hack/ci/deploy.sh
  clusters/prow/manifests/release-branch-reporter.yaml
  clusters/prow/manifests/sextant/config.yaml
  clusters/prow/manifests/sextant/extract-dockerfile-image-tag.sh
  clusters/prow/manifests/sextant/kcp-operator-extract-kcp.sh
Due: post-infra-deploy-prow-cluster

bump build image to Go 1.26.3 / 1.25.10
  images/build/go-1.25/env
  images/build/go-1.26/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

fix sextant filename
  clusters/prow/hack/ci/deploy.sh
Due: post-infra-deploy-prow-cluster

bump build image to Go 1.26.3 / 1.25.10 (#165)
  images/build/go-1.25/env
  images/build/go-1.26/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

fix sextant filename (#166)
  clusters/prow/hack/ci/deploy.sh
Due: post-infra-deploy-prow-cluster

upgrade to kube 1.36
  clusters/build/manifests/athens.yaml
  clusters/build/opentofu/cluster.tf
  clusters/build/opentofu/variables.tf
Due: post-infra-deploy-build-cluster

upgrade to kube 1.36 (#167)
  clusters/build/manifests/athens.yaml
  clusters/build/opentofu/cluster.tf
  clusters/build/opentofu/variables.tf
Due: post-infra-deploy-build-cluster

add perf-result bucket
  clusters/build/opentofu/README.md
  clusters/build/opentofu/cluster/.env.example
  clusters/build/opentofu/cluster/.terraform.lock.hcl
  clusters/build/opentofu/cluster/Makefile
  clusters/build/opentofu/cluster/README.md
  clusters/build/opentofu/cluster/addons.tf
  clusters/build/opentofu/cluster/cluster.tf
  clusters/build/opentofu/cluster/network.tf
  clusters/build/opentofu/cluster/outputs.tf
  clusters/build/opentofu/cluster/provider.tf
  clusters/build/opentofu/cluster/terraform.tf
  clusters/build/opentofu/cluster/variables.tf
  clusters/build/opentofu/perf-testing-infra/.terraform.lock.hcl
  clusters/build/opentofu/perf-testing-infra/Makefile
  clusters/build/opentofu/perf-testing-infra/README.md
  clusters/build/opentofu/perf-testing-infra/UPLOADING.md
  clusters/build/opentofu/perf-testing-infra/outputs.tf
  clusters/build/opentofu/perf-testing-infra/perf-results.tf
  clusters/build/opentofu/perf-testing-infra/provider.tf
  clusters/build/opentofu/perf-testing-infra/terraform.tf
  clusters/build/opentofu/perf-testing-infra/variables.tf
Due: post-infra-deploy-build-cluster

add index to bucket
  clusters/build/opentofu/perf-testing-infra/Makefile
  clusters/build/opentofu/perf-testing-infra/index.html
  clusters/build/opentofu/perf-testing-infra/result.json
  clusters/build/opentofu/perf-testing-infra/results.json
Due: post-infra-deploy-build-cluster

bump build image to Go 1.26.4 / 1.25.11
  images/build/go-1.25/env
  images/build/go-1.26/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

Add perf-result bucket (#168)
  clusters/build/opentofu/README.md
  clusters/build/opentofu/cluster/.env.example
  clusters/build/opentofu/cluster/.terraform.lock.hcl
  clusters/build/opentofu/cluster/Makefile
  clusters/build/opentofu/cluster/README.md
  clusters/build/opentofu/cluster/addons.tf
  clusters/build/opentofu/cluster/cluster.tf
  clusters/build/opentofu/cluster/network.tf
  clusters/build/opentofu/cluster/outputs.tf
  clusters/build/opentofu/cluster/provider.tf
  clusters/build/opentofu/cluster/terraform.tf
  clusters/build/opentofu/cluster/variables.tf
  clusters/build/opentofu/perf-testing-infra/.terraform.lock.hcl
  clusters/build/opentofu/perf-testing-infra/Makefile
  clusters/build/opentofu/perf-testing-infra/README.md
  clusters/build/opentofu/perf-testing-infra/UPLOADING.md
  clusters/build/opentofu/perf-testing-infra/index.html
  clusters/build/opentofu/perf-testing-infra/outputs.tf
  clusters/build/opentofu/perf-testing-infra/perf-results.tf
  clusters/build/opentofu/perf-testing-infra/provider.tf
  clusters/build/opentofu/perf-testing-infra/result.json
  clusters/build/opentofu/perf-testing-infra/results.json
  clusters/build/opentofu/perf-testing-infra/terraform.tf
  clusters/build/opentofu/perf-testing-infra/variables.tf
Due: post-infra-deploy-build-cluster

bump build image to Go 1.26.4 / 1.25.11 (#169)
  images/build/go-1.25/env
  images/build/go-1.26/env
Due: pull-infra-images-1.25-build, post-infra-publish-images-1.25-build

bump athene as it keeps restarting
  clusters/build/manifests/athens.yaml
Due: post-infra-deploy-build-cluster

sacale to 3
  clusters/build/manifests/athens.yaml
Due: post-infra-deploy-build-cluster

bump build image to Go 1.26.7
  images/build/go-1.26/env
Due: none

bump build image to Go 1.26.7 (#171)
  images/build/go-1.26/env
Due: none
